*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: rgb(255, 214, 103);
font-family:"junge-regular";
}
@font-face {
    font-family:"junge-regular";
    src:url("../fuente/Junge-Regular.ttf");
}
header {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
}
.descripcion{
    font-size:1.5rem;
}    
.gym{
    width: 100%;
}
.cuerpo {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
}
.entrena {
    list-style: none;
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
    padding: 10px;  
}

.tiktok{
    width: 450px;
    margin: 25px;
}
.contenedorTiktok{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorCentral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
    font-size: 1rem;
    border-top: solid 1px black;
}

.terminos {
    list-style: none;
}

.icon {
    width: 70px;
}
.fondoPerso{
    background-color: rgb(128, 171, 236);
    text-align: center;
}

.navMia{
    text-align: center;
}
.navMia li{
    text-align: center;
}
.navMia li a {
    text-align: center;
    color: white;
    font-weight: bold;
}
.breadcrumb{
    margin: 50px;
}
.row{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    font-weight: bold;
}
h3{
    background-color: rgb(250, 232, 202);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.form{
    background-color: rgb(216, 204, 204);
    text-align: center;
    width: 50% auto;
    margin: 10px;
    padding: 10px;
}
main{
    text-align: center;
}