*{
    margin: 1;
    padding: 1 ;
}
body{
background-color: rgb(241, 182, 72);
font-family:"junge-regular";
}
@font-face {
    font-family:"junge-regular";
    src:url("../fuente/Junge-Regular.ttf");
}
header {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
}
.descripcion{
    font-size:1.5rem;
}
.barra{
    list-style: none;
    margin: 10px;
}
.barra li {
    display: inline-block;
    text-align: center;
}
.barra li a{
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    padding: 20px;
}
.barra li a:hover{
    color: dimgrey;
    background-color: brown;
    border-radius: 15%;
}
.cuerpo {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
}
.entrena {
    list-style: none;
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
    padding: 10px;  
}

.tiktok{
    width: 450px;
    margin: 25px;
}
.contenedortiktok{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedorCentral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
    font-size: 1rem;
    border-top: solid 1px black;
}

.terminos {
    list-style: none;
}

.icon {
    width: 70px;
}
.fondoPerso{
    background-color: rgb(109, 107, 105);
}
.breadcrumb{
    margin: 50px;
}

