*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(../Imagenes/7328095_3601908.jpg\ fondo\ gym.jpg);
background-repeat: no-repeat;
background-size: cover;
font-family:"junge-regular";
color: white;
}

.fondoPerso{
    background: linear-gradient( rgb(22, 22, 201), grey);
    text-align: center;
}

.navMia{
    text-align: center;
}
.navMia li{
    text-align: center;
}
.navMia li a {
    text-align: center;
    color: white;
    font-weight: bold;
}

@font-face {
    font-family:"junge-regular";
    src:url("../fuente/Junge-Regular.ttf");
}
header {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
}
.img{
    width: 15%;
    border-radius: 50%;
    text-align: center;
    transition: all 2s;
}
.img:hover{
    transform: scale(1.1,1.1); 
}
.descripcion{
    font: size 1.5rem;
}    
.gym{
    width: 100%; 
}
.cuerpo {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
}

/*planes y precios main*/

.anime{
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pro;
}
@keyframes pro{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Nose a que pertenece*/

.entrena {
    list-style: none;
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
    padding: 10px;  
}

/* index-main*/

.presentacion{
    display: grid;
    width: 100%;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "rutina tiktok";
}
.contenedor{
    justify-content: center;
    align-content: center;
}
.rutina{
    align-self: center;
    justify-self: center;
    grid-area: rutina;
}
.tiktok{
    width: 450px;
    margin: 25px;
    text-align: center;
    grid-area: tiktok;
}
@media screen and (max-width: 768px){
    .presentacion{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "rutina tiktok";
    }
}
@media screen and (max-width: 480px){
    .presentacion{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "rutina" 
        "tiktok";
    }
}

.contenedorCentral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    text-align: center;
    font-size: 1rem;
    border-top: solid 1px black;
}
.terminos {
    list-style: none;
    font-size: 1rem;
}

.icon {
    width: 40px; 
}


.breadcrumb{
    margin: 50px;
}
.row{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    font-weight: bold;
}
.equipo{
    display: grid;
    align-items: center;
    width: auto;
    padding: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
}
h3{
    background-color: rgba(250, 250, 250, 0.1);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.form{
    background-color: rgb(117, 109, 109);
    text-align: center;
    width: 30%;
    margin: 10px;
    padding: 10px;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-areas: "equipo";
}
@media screen and (max-width: 768px){
    .equipo{
        grid-template-columns: 1fr;
        grid-template-areas: "equipo";
    }
}
@media screen and (max-width: 480px){
    .equipo{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "equipo";
    }
}
main{
    text-align: center;
}

