footer {
    text-align: center;
    font-size: 1rem;
    border-top: solid 1px black;
    .terminos {
        list-style: none;
        font-size: 1rem;
    }
    .icon {
        width: 40px;
    }
    .breadcrumb {
        margin: 50px;
    }
}
